<div class="min-h-full">
  <div class="bg-gray-800 pb-32">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="border-b border-gray-700">
          <div class="flex h-16 items-center justify-between px-4 sm:px-0">
            <div class="flex items-center">
              <div class="flex flex-shrink-0 items-center gap-3">
                <img class="h-8 w-8" src="/assets/acurast-logo.png" />
                <h1 class="text-md font-bold text-white uppercase">Acurast</h1>
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <header class="py-10">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-white">
          zkOracles Dashboard
        </h1>
      </div>
    </header>
  </div>

  <main class="-mt-32">
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
      <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
        <div>
          <div class="flex justify-between items-center pb-8">
            <h3 class="text-md font-bold leading-6">Active zkOracle Feeds</h3>
            <select
              id="protocol"
              name="protocol"
              class="block rounded-md border-0 py-1.5 pl-3 pr-10 bg-white-700 ring-1 ring-inset ring-gray-500 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 cursor-pointer ng-untouched ng-pristine ng-valid"
              ng-reflect-name="protocol"
              ng-reflect-model="Generic"
            >
              <option value="Generic">
                <span> Mina Berkley Testnet</span>
              </option>
            </select>
          </div>
          <ul
            role="list"
            class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl"
          >
            <li
              class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6"
            >
              <div class="flex min-w-0 gap-x-10 items-center">
                <img
                  class="h-8 w-8 flex-none rounded-full bg-gray-50"
                  src="https://assets.coingecko.com/coins/images/15628/standard/JM4_vQ34_400x400.png?1696515261"
                  alt=""
                />
                <div class="grid grid-cols-8 gap-1">
                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                    MINA / USD
                  </p>
                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    <a
                      target="_blank"
                      href="https://berkeley.minaexplorer.com/wallet/B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q"
                    >
                      <span class="absolute inset-x-0 -top-px bottom-0"></span>
                      $0.683476
                    </a>
                  </p>
                  <p class="text-xs leading-5 text-gray-500">
                    B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q
                  </p>
                </div>
              </div>
              <div class="flex shrink-0 items-center gap-x-4">
                <div class="hidden sm:flex sm:flex-col sm:items-end">
                  <p class="text-xs leading-5 text-gray-500">
                    Last update
                    <time datetime="2023-01-23T13:23Z">15m ago</time>
                  </p>
                </div>
                <svg
                  class="h-5 w-5 flex-none text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </li>

            <li
              class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6"
            >
              <div class="flex min-w-0 gap-x-10 items-center">
                <img
                  class="h-8 w-8 flex-none rounded-full bg-gray-50"
                  src="https://assets.coingecko.com/coins/images/1/standard/bitcoin.png?1696501400"
                  alt=""
                />
                <div class="grid grid-cols-8 gap-1">
                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                    BTC / USD
                  </p>

                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    <a
                      target="_blank"
                      href="https://berkeley.minaexplorer.com/wallet/B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q"
                    >
                      <span class="absolute inset-x-0 -top-px bottom-0"></span>
                      $36,623.23
                    </a>
                  </p>

                  <p class="text-xs leading-5 text-gray-500">
                    B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q
                  </p>
                </div>
              </div>
              <div class="flex shrink-0 items-center gap-x-4">
                <div class="hidden sm:flex sm:flex-col sm:items-end">
                  <p class="text-xs leading-5 text-gray-500">
                    Last update
                    <time datetime="2023-01-23T13:23Z">15m ago</time>
                  </p>
                </div>
                <svg
                  class="h-5 w-5 flex-none text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </li>

            <li
              class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6"
            >
              <div class="flex min-w-0 gap-x-10 items-center">
                <img
                  class="h-8 w-8 flex-none rounded-full bg-gray-50"
                  src="https://assets.coingecko.com/coins/images/279/standard/ethereum.png?1696501628"
                  alt=""
                />
                <div class="grid grid-cols-8 gap-1">
                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                    ETH / USD
                  </p>

                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    <a
                      target="_blank"
                      href="https://berkeley.minaexplorer.com/wallet/B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q"
                    >
                      <span class="absolute inset-x-0 -top-px bottom-0"></span>
                      $2,106.58
                    </a>
                  </p>
                  <p class="text-xs leading-5 text-gray-500">
                    B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q
                  </p>
                </div>
              </div>
              <div class="flex shrink-0 items-center gap-x-4">
                <div class="hidden sm:flex sm:flex-col sm:items-end">
                  <p class="text-xs leading-5 text-gray-500">
                    Last update
                    <time datetime="2023-01-23T13:23Z">15m ago</time>
                  </p>
                </div>
                <svg
                  class="h-5 w-5 flex-none text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="pt-10 mt-4">
        <h3 class="text-md font-bold leading-6 pb-5">Create zkOracle Feed</h3>
        <div
          class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl p-5"
        >
          <div>
            <h5 class="text-md font-semibold leading-6">
              Select Off-chain Worker
            </h5>
            <div class="mt-4 grid grid-cols-1 gap-3 sm:grid-cols-3">
              <label
                class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                (click)="setSelectedOffchainWorkerType('local')"
                ><input
                  type="radio"
                  name="network-type"
                  value="Network Selection"
                  class="sr-only" /><span class="flex flex-1"
                  ><span
                    ><span class="block text-sm font-semibold text-gray-900"
                      >Local</span
                    ><span
                      class="mt-3 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium ring-1 ring-inset ring-indigo-700/10"
                    >
                      Testing</span
                    ></span
                  ></span
                >

                <svg
                  class="h-5 w-5 text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"
                  />
                </svg>

                <span
                  aria-hidden="true"
                  class="pointer-events-none absolute -inset-px rounded-lg border-2 border-indigo-600"
                ></span></label
              ><label
                class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                (click)="setSelectedOffchainWorkerType('acurast')"
                ><input
                  type="radio"
                  name="network-type"
                  value="Network Selection"
                  class="sr-only" /><span class="flex flex-1"
                  ><span
                    ><span class="block text-sm font-semibold text-gray-900"
                      >Acurast</span
                    ><span
                      class="mt-3 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium ring-1 ring-inset ring-indigo-700/10"
                    >
                      Testing</span
                    ></span
                  ></span
                >

                <svg
                  class="h-5 w-5 text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"
                  />
                </svg>

                <span
                  aria-hidden="true"
                  class="pointer-events-none absolute -inset-px rounded-lg"
                ></span
              ></label>
            </div>
            <ng-container *ngIf="selectedOffchainWorkerType === 'acurast'">
              <div class="grid grid-cols-6 gap-6 pt-5">
                <div class="col-span-4">
                  <div class="rounded-md bg-indigo-50 p-4">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg
                          class="h-5 w-5 text-indigo-400"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </div>
                      <div class="ml-3 flex-1 md:flex md:justify-between">
                        <div>
                          <h5
                            class="text-md font-semibold leading-6 text-indigo-700"
                          >
                            Acurast Support Coming Soon
                          </h5>
                          <p class="text-sm text-indigo-700">
                            Acurast Processors and their Trusted Execution
                            Environments are not yet supported as off-chain
                            workers. Mina support for Acurast will be added
                            soon.
                          </p>
                        </div>
                      </div>
                      <p class="flex items-center mt-3 text-sm md:ml-6 md:mt-0">
                        <a
                          href="#"
                          target="_blank"
                          class="whitespace-nowrap font-medium text-blue-700 hover:indigo-blue-600"
                        >
                          Details
                          <span aria-hidden="true"> &rarr;</span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <h5 class="text-md font-semibold leading-6 pt-8 pb-3">
              Specify Parameters
            </h5>
            <div class="grid grid-cols-6 gap-6 pb-3">
              <div class="col-span-3">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Trusted Oracle Source</label
                >
                <div class="w-full inline-flex">
                  <div class="w-full relative mt-2 rounded-md shadow-sm">
                    <input
                      placeholder="Public Key"
                      class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      [disabled]="selectedOffchainWorkerType === 'acurast'"
                    />
                  </div>
                </div>
                <!--
                                <div *ngIf="hasError('required')" class="text-red-600 text-sm mt-1">{{ name }} is required.</div>
                                -->
                <span class="pt-3 block text-sm text-gray-500"
                  >The public key of the trusted data provider.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-6 gap-6 pb-3">
              <div class="col-span-3">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >API</label
                >
                <div class="w-full inline-flex">
                  <div class="w-full relative mt-2 rounded-md shadow-sm">
                    <input
                      placeholder="https://min-api.cryptocompare.com/data/pricemultifull?fsyms=MINA&tsyms=USD"
                      class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      [disabled]="selectedOffchainWorkerType === 'acurast'"
                    />
                  </div>
                </div>
                <!--
                                <div *ngIf="hasError('required')" class="text-red-600 text-sm mt-1">{{ name }} is required.</div>
                                -->
                <span class="pt-3 block text-sm text-gray-500"
                  >The API to fetch the price data.</span
                >
              </div>
            </div>

            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Interval</label
                >
                <div class="w-full inline-flex">
                  <div class="w-full relative mt-2 rounded-md shadow-sm">
                    <input
                      placeholder="5"
                      class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      [disabled]="selectedOffchainWorkerType === 'acurast'"
                    />
                  </div>
                </div>
                <!--
                                <div *ngIf="hasError('required')" class="text-red-600 text-sm mt-1">{{ name }} is required.</div>
                                -->
                <span class="pt-3 block text-sm text-gray-500"
                  >The interval for updating in minutes.</span
                >
              </div>
            </div>
            <div class="pt-5">
              <button
                class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:bg-gray-400"
                [disabled]="selectedOffchainWorkerType !== 'local'"
              >
                Create zkOracle Feed
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
