<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="py-8">
    <div class="pb-10">
      <div class="flex justify-between items-center pb-5">
        <h3 class="text-md font-bold leading-6">Active zkOracle Feeds</h3>
        <select
          id="protocol"
          name="protocol"
          class="block rounded-md border-0 py-1.5 pl-3 pr-10 bg-white-700 ring-1 ring-inset ring-gray-500 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 cursor-pointer ng-untouched ng-pristine ng-valid"
          ng-reflect-name="protocol"
          ng-reflect-model="Generic"
        >
          <option value="Generic">
            <span> Mina Berkley Testnet</span>
          </option>
        </select>
      </div>
      <ul
        role="list"
        class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl"
      >
        <li
          class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6"
        >
          <div class="flex min-w-0 gap-x-10 items-center">
            <img
              class="h-8 w-8 flex-none rounded-full bg-gray-50"
              src="https://assets.coingecko.com/coins/images/15628/standard/JM4_vQ34_400x400.png?1696515261"
              alt=""
            />
            <div class="grid grid-cols-8 gap-1">
              <p class="text-sm font-semibold leading-6 text-gray-900">
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                MINA / USD
              </p>
              <p class="text-sm font-semibold leading-6 text-gray-900">
                <a
                  target="_blank"
                  href="https://berkeley.minaexplorer.com/wallet/B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q"
                >
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  $0.683476
                </a>
              </p>
              <p class="text-xs leading-5 text-gray-500">
                B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q
              </p>
            </div>
          </div>
          <div class="flex shrink-0 items-center gap-x-4">
            <div class="hidden sm:flex sm:flex-col sm:items-end">
              <p class="text-xs leading-5 text-gray-500">
                Last update <time datetime="2023-01-23T13:23Z">15m ago</time>
              </p>
            </div>
            <svg
              class="h-5 w-5 flex-none text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </li>

        <li
          class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6"
        >
          <div class="flex min-w-0 gap-x-10 items-center">
            <img
              class="h-8 w-8 flex-none rounded-full bg-gray-50"
              src="https://assets.coingecko.com/coins/images/1/standard/bitcoin.png?1696501400"
              alt=""
            />
            <div class="grid grid-cols-8 gap-1">
              <p class="text-sm font-semibold leading-6 text-gray-900">
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                BTC / USD
              </p>

              <p class="text-sm font-semibold leading-6 text-gray-900">
                <a
                  target="_blank"
                  href="https://berkeley.minaexplorer.com/wallet/B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q"
                >
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  $36,623.23
                </a>
              </p>

              <p class="text-xs leading-5 text-gray-500">
                B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q
              </p>
            </div>
          </div>
          <div class="flex shrink-0 items-center gap-x-4">
            <div class="hidden sm:flex sm:flex-col sm:items-end">
              <p class="text-xs leading-5 text-gray-500">
                Last update <time datetime="2023-01-23T13:23Z">15m ago</time>
              </p>
            </div>
            <svg
              class="h-5 w-5 flex-none text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </li>

        <li
          class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6"
        >
          <div class="flex min-w-0 gap-x-10 items-center">
            <img
              class="h-8 w-8 flex-none rounded-full bg-gray-50"
              src="https://assets.coingecko.com/coins/images/279/standard/ethereum.png?1696501628"
              alt=""
            />
            <div class="grid grid-cols-8 gap-1">
              <p class="text-sm font-semibold leading-6 text-gray-900">
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                ETH / USD
              </p>

              <p class="text-sm font-semibold leading-6 text-gray-900">
                <a
                  target="_blank"
                  href="https://berkeley.minaexplorer.com/wallet/B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q"
                >
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  $2,106.58
                </a>
              </p>
              <p class="text-xs leading-5 text-gray-500">
                B62qq1miZzh8QMumJ2dhJSvPxdeShGQ2G2cH4YXwxNLpPSvKdRVTb3q
              </p>
            </div>
          </div>
          <div class="flex shrink-0 items-center gap-x-4">
            <div class="hidden sm:flex sm:flex-col sm:items-end">
              <p class="text-xs leading-5 text-gray-500">
                Last update <time datetime="2023-01-23T13:23Z">15m ago</time>
              </p>
            </div>
            <svg
              class="h-5 w-5 flex-none text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
